@font-face { 
    font-family:right grotesk;
    src:url(https://assets.website-files.com/61702f71b7840a016f189c88/61702f71b7840ac431189cac_PPRightGrotesk-SpatialBlack.woff2) format('woff2'),url(https://assets.website-files.com/61702f71b7840a016f189c88/61702f71b7840a3dcf189ca0_PPRightGrotesk-SpatialBlack.eot) format('embedded-opentype'),url(https://assets.website-files.com/61702f71b7840a016f189c88/61702f71b7840aab3e189c9c_PPRightGrotesk-SpatialBlack.woff) format('woff'),url(https://assets.website-files.com/61702f71b7840a016f189c88/61702f71b7840a0fc5189c9d_PPRightGrotesk-SpatialBlack.ttf) format('truetype'),url(https://assets.website-files.com/61702f71b7840a016f189c88/61702f71b7840aa4bf189ca1_PPRightGrotesk-SpatialBlack.otf) format('opentype');
    font-weight:900;
    font-style:normal;
    font-display:swap;
  } 
    body {  
      font-family:sans-serif;
      font-size:16px;
      line-height:1.5em;
      color:#1f2024;
    }  
  * { 
      -webkit-box-sizing: border-box; 
      -moz-box-sizing: border-box; 
      box-sizing: border-box;
  } 
  
  body { 
      margin: 0;
  } 
  
  body { 
      margin: 0; 
      min-height: 100%; 
      background-color: #fff; 
      font-family: Arial,sans-serif; 
      font-size: 14px; 
      line-height: 20px; 
      color: #333;
  } 
  
  body { 
      font-family: space mono,sans-serif; 
      color: #1f2024; 
      font-size: 16px; 
      line-height: 1.5em;
  } 
  
  html { 
      font-family: sans-serif; 
      -ms-text-size-adjust: 100%; 
      -webkit-text-size-adjust: 100%;
  } 
  
  html { 
      height: 100%;
  } 
  
  section { 
      display: block;
  } 
  
  .hero-section { 
      position: relative; 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      overflow: hidden; 
      height: 100vh; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -webkit-box-pack: center; 
      -webkit-justify-content: center; 
      -ms-flex-pack: center; 
      justify-content: center; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -ms-flex-align: center; 
      align-items: center; 
      background-color: #1fbffe; 
      color: #fff; 
      text-align: center;
  } 
  
  .hero-section.dark { 
      height: auto; 
      min-height: 100vh; 
      padding: 130px 24px; 
      background-color: #1fbffe; 
      color: #000;
  } 
  
  .bg_image { 
      position: absolute; 
      top: 0; 
      left: 0; 
      width: 100%; 
      height: 100%; 
      object-fit: cover;
  } 
  
  .w-container { 
      margin-left: auto; 
      margin-right: auto; 
      max-width: 940px;
  } 
  
  .minting-container { 
      display: -webkit-box; 
      display: -webkit-flex; 
      display: -ms-flexbox; 
      display: flex; 
      max-width: 1200px; 
      padding: 58px 58px 32px; 
      -webkit-box-orient: vertical; 
      -webkit-box-direction: normal; 
      -webkit-flex-direction: column; 
      -ms-flex-direction: column; 
      flex-direction: column; 
      -webkit-box-align: center; 
      -webkit-align-items: center; 
      -ms-flex-align: center; 
      align-items: center; 
      border-style: solid; 
      border-width: 8px; 
      border-color: #1f2024; 
      border-radius: 24px; 
      background-color: #fff; 
      box-shadow: -3px 3px 0 0 #1f2024; 
      text-align: center;
  } 
  
  .w-container:before,.w-container:after { 
      content: " "; 
      display: table; 
      grid-column-start: 1; 
      grid-row-start: 1; 
      grid-column-end: 2; 
      grid-row-end: 2;
  } 
  
  .w-container:after { 
      clear: both;
  } 
  
  img { 
      border: 0;
  } 
  
  img { 
      max-width: 100%; 
      vertical-align: middle; 
      display: inline-block;
  } 
  
  .bg_image img  { 
      width: 100%; 
      height: 100%; 
      object-fit: cover;
  } 
  
  #saldoDiv { 
      position: absolute; 
      top: -3px; 
      left: 50%; 
      transform: translateX(-50%) translateY(-100%); 
      width: max-content; 
      z-index: 999; 
      background: #FFC107; 
      box-shadow: -3px 3px 0 0px #1f2024; 
      border: 3px solid #1f2024; 
      border-radius: 20px 20px 0 0; 
      padding: 1rem 2rem; 
      font-family: right grotesk, sans-serif;
  } 
  
  div.escudo { 
      display: block; 
      width: 247px; 
      line-height: 65px; 
      font-size: 12px; 
      margin: -60px 0 0 0; 
      background-image: url(https://subwaydsb.com/arquivos/escudo-branco.webp); 
      background-size: contain; 
      background-repeat: no-repeat; 
      background-position: center; 
      filter: drop-shadow(1px 1px 3px #00000099) hue-rotate(0deg);
  } 
  
  b { 
      font-weight: 700;
  } 
  
  div.escudo img  { 
      width: 50px; 
      margin: -10px 6px 0 0;
  } 
  
  h2 { 
      font-weight: 700; 
      margin-bottom: 10px;
  } 
  
  h2 { 
      font-size: 32px; 
      line-height: 36px; 
      margin-top: 20px;
  } 
  
  h2 { 
      margin-top: 0; 
      margin-bottom: 8px; 
      font-family: right grotesk,sans-serif; 
      font-size: 3em; 
      line-height: 1.2em; 
      font-weight: 700; 
      letter-spacing: .04em; 
      text-transform: uppercase;
  } 
  
  p { 
      margin-top: 0; 
      margin-bottom: 10px;
  } 
  
  p { 
      margin-bottom: 10px; 
      line-height: 1.8em;
  } 
  
  a { 
      background-color: transparent;
  } 
  
  a { 
      color: #1f2024; 
      font-weight: 700; 
      text-decoration: none;
  } 
  
  .primary-button { 
      padding: 16px 40px; 
      border-style: solid; 
      border-width: 4px; 
      border-color: #1f2024; 
      border-radius: 8px; 
      background-color: #1fbffe; 
      box-shadow: -3px 3px 0 0 #1f2024; 
      -webkit-transition: background-color 200ms ease,box-shadow 200ms ease,-webkit-transform 200ms ease; 
      transition: background-color 200ms ease,box-shadow 200ms ease,-webkit-transform 200ms ease; 
      transition: background-color 200ms ease,transform 200ms ease,box-shadow 200ms ease; 
      transition: background-color 200ms ease,transform 200ms ease,box-shadow 200ms ease,-webkit-transform 200ms ease; 
      font-family: right grotesk,sans-serif; 
      color: #fff; 
      font-size: 1.25em; 
      text-align: center; 
      letter-spacing: .12em;
  } 
  
  .primary-button { 
      user-select: none !important;
  } 
  
  a:active,a:hover { 
      outline: 0;
  } 
  
  .primary-button:hover { 
      background-color: #e42c7f; 
      box-shadow: -6px 6px 0 0 #1f2024; 
      -webkit-transform: translate(4px,-4px); 
      -ms-transform: translate(4px,-4px); 
      transform: translate(4px,-4px);
  } 
  
  strong { 
      font-weight: 700;
  } 
  
  button { 
      color: inherit; 
      font: inherit; 
      margin: 0;
  } 
  
  button { 
      overflow: visible;
  } 
  
  button { 
      text-transform: none;
  } 
  
  button { 
      -webkit-appearance: button; 
      cursor: pointer;
  } 
  
  button,[type="button"] { 
      border: 0; 
      cursor: pointer; 
      -webkit-appearance: button;
  } 
  
  
  /* These were inline style tags. Uses id+class to override almost everything */
  #style-n8kTy.style-n8kTy {  
     display: none;  
  }  
  #style-Mby87.style-Mby87 {  
     margin-top: -40px;  
      position: relative;  
      padding: 58px 40px;  
      max-width: 800px;  
  }  
  #style-dNskF.style-dNskF {  
     margin-top: 20px;  
  }  
  #style-G7Ept.style-G7Ept {  
     display: flex;  
      gap: 1em;  
      flex-wrap: wrap;  
      align-items: center;  
      justify-content: center;  
  }  
  #noMorePlays.style-kgLHC {  
     display: none;  
  }  
  #style-J2IoM.style-J2IoM {  
     margin-top: 20px;  
  }  
  #style-BVQ2N.style-BVQ2N {  
     margin-top: 20px;  
  }  
  #style-MeKN2.style-MeKN2 {  
     margin-top: 40px;  
  }  
  #style-mVEoU.style-mVEoU {  
     
                  display: block;  
     
                  width: 240px;  
     
                  font-size: 12px;  
     
                  padding: 5px 0;  
     
                  text-align: center;  
     
                  line-height: 13px;  
     
                  background-color: #FFC107;  
     
                  border-radius: 10px;  
     
                  border: 3px solid #1f2024;  
     
                  box-shadow: -3px 3px 0 0px #1f2024;  
     
                  margin: -24px auto 0 auto;  
     
                  z-index: 1000;  
     
              ;  
  }  
  