    body {
    background-color: rgb(41, 41, 41);
    margin: 20px auto;
    }   

    
    h1 {
        text-align: center;
        color: white;
    }

    h2 {
        
        color: white;
    }

